<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="one">
                <md-content class="md-padding" layout-gt-sm="row" layout="column">
                    <div flex ng-repeat="dish in dishes">
                        <md-card >
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{dish.name}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media">
                                        <img ng-src="images/menu/butterChicken.jpg" class="md-card-image" alt="Washed Out">
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-repeat="day in dish.days">{{day}}</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="two">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Two</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>