<div ng-controller="orderController" ng-cloak="" layout-gt-sm="row" layout="column" ng-app="MyApp">
    <div flex="">
        <md-card >
            <md-card-content>
                <md-content class="md-no-momentum">
                    <md-list flex="">
                        <md-subheader class="md-no-sticky">Curry</md-subheader>
                        <md-list-item ng-repeat="curry in curries">
                            <p> {{ curry.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="curry.selected"></md-checkbox>
                        </md-list-item>
                    </md-list>

                </md-content>
            </md-card-content>
        </md-card>
        <md-card >
            <md-card-content>
                <md-content class="md-no-momentum">
                    <md-list flex="">
                        <md-subheader class="md-no-sticky">Side</md-subheader>
                        <md-list-item ng-repeat="side in sides">
                            <p> {{ side.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="side.selected"></md-checkbox>
                        </md-list-item>
                    </md-list>

                </md-content>
            </md-card-content>
        </md-card>
    </div>

    <div flex="">
        <md-card >
            <md-card-content>
                <md-content class="md-no-momentum">
                    <md-list class="md-dense" flex="">
                        <md-subheader class="md-no-sticky">Main</md-subheader>
                        <md-list-item ng-repeat="main in mains">
                            <p> {{ main.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="main.selected"></md-checkbox>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
        <md-card >
            <md-card-content>
                <md-content class="md-no-momentum">
                    <md-list class="md-dense" flex="">
                        <md-subheader class="md-no-sticky">Drink</md-subheader>
                        <md-list-item ng-repeat="drink in drinks">
                            <p> {{ drink.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="drink.selected"></md-checkbox>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
    </div>

</div>
